body {
  font-family: "Montserrat";
  text-align: center;
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 1.5;
  letter-spacing: 3px;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}
/* sections-colors */
.coloured-section {
  background-color: #ff4c62;
  color: #fff;
}
.white-section {
  background-color: #fff;
}
/* navigation-bar */

.navbar {
  text-align: right;
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
}

.nav-item {
  padding: 0 18px;

}
.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: 300;
  
}

/* download buttons */

.download-btn {
  margin: 5% 3% 5% 0;
}

/* title-section */
#title .container-fluid {
  padding: 3% 15% 7%;
}

/* title-img */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  transition: 0.3s ease-in-out;
  margin: auto auto -12rem auto;
}
@media (max-width: 1020px) {
  .title-image {
    transform: rotate(0);
    transition: 0.3s ease-in-out;
    margin: auto;
    margin-bottom: 2rem;
  }
  .title-image:hover {
    transform: scale(1.04);
    transition: 0.3s ease-in-out;
  }
  #title {
    text-align: center;
  }
}

/* feature-section */

#features {
  position: relative;
}
.feature-box {
  padding: 5%;
}

.feature-box p {
  color: #8f8f8f;
  font-size: 18px;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.icon:hover {
  color: #ff4c62;
  transform: scale(1.06);
  transition: 0.2s ease-in-out;
}
/* testimonials */
#testimonials {
  background-color: #ef8172;
}
#testimonials h2 {
  font-size: 3rem;
  letter-spacing: 3px;
}
.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press */

.testimonial-press {
  background-color: #ef8172;

  padding-bottom: 3%;
}
.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing cards */

#pricing {
  padding: 100px;
}
.pricing-card {
  padding: 3% 2%;
}
.card {
  box-shadow: 2px 3px 5px rgb(0, 0, 0, 0.3);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.card p {
  font-size: 20px;
}
.card:hover {
  box-shadow: 2px 3px 5px rgb(0, 0, 0, 0.6);
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}

.card {
  width: 100%;
  height: 100%;
}

/* cta*/

#cta h3 {
  margin-bottom: 10%;
}
#cta button {
  margin: 0 20px;
}

/* footer */

#footer p {
  color: #8f8f8f;
  font-size: 20px;
  margin: 20px;
}
#footer i {
  margin: 0 10px;
  cursor: pointer;
  color: rgb(0, 0, 0, 0.9);
}
#footer i:hover {
  transform: scale(1.6);
  transition: 0.3s ease-in-out;
  color: rgb(0, 0, 0, 0.7);
}
